body {
    overflow-x: hidden;
    overflow-y: scroll;

    transition: 1.2s;

    background-color: rgb(0, 0, 0);
    background-image: url("../src/bckg_img.jpg");
    background-size: -5vw;
    background-position: 0vw;
    background-attachment: scroll;
    background-position-y: 2vw;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vw;
    color: rgba(142, 32, 167, 0.721);

    text-align: center;
}
@media only screen and (max-width: 1026px) {
    .Navbar {
        font-size: 5vw;
    }
    .Main {
        position: relative;
        text-align: center;
        right: 0vw;
        width: min-content;
    }
    .Main li {
        font-size: 6vw;
    }
  }

.Navbar {
    transition: 1.2s;
    background-color: rgb(19, 19, 19);
    position: relative;
    font-size: 1.5vw;
    top: -2vw;
    right: 0vw;
    left: -.6vw;
    width: 100vw;
    height: 4vw;
}

.Navbar ul {
    transition: 1.2s;
    text-align: center;

    list-style-type: none;
	list-style: none;
	padding-top: 0vw;
    padding-left: 0vw;
    padding-right: 0vw;
}
.l1 {
    transition: 1.2s;
    text-decoration: underline;

    position: relative;
    left: 44vw;
    font-size: 3.5vw;
    width: min-content;
    z-index: 5;
}
.l2 {
    transition: 1.2s;

    position: relative;
    left: 35vw;
    top: -4vw;
    font-size: 3.5vw;
    z-index: 5;
    width: min-content;
}
.l3 {
    transition: 1.2s;
    
    position: relative;
    left: 55.5vw;
    top: -8.5vw;
    font-size: 3.5vw;
    width: min-content;
    z-index: 5;
}

.l1:hover {
    cursor: grab;
    color: rgb(124, 0, 196);

}
.l2:hover {
    cursor: grab;
    color: rgb(124, 0, 196);

}
.l3:hover {
    cursor: grab;
    color: rgb(124, 0, 196);

}

.Main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.Main h1 {
    font-size: 8.5vw;
    position: relative;
    bottom: 9vw;

    color: aliceblue;
    text-decoration: underline;
}

.Main ul {
    position: relative;
    bottom: 12.5vw;
    font-size: 5vw;
    text-align: center;

    list-style-type: none;
	list-style: none;
}

.Main a {
    color:rgb(159, 36, 230);
}

.Box1 {
    width: 85vw;
    font-size: 4.5vw;
    position: relative;
    background-color: rgba(56, 0, 108, 0.539);
    border-radius: 2vw;
    bottom: 15vw;
    left: 6vw;
}

.Box1 p {
    color:rgb(175, 79, 231);
}