body {
    background-image: url("../src/BACKGROUND.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navbar {
    background-color: #191227;
    position: absolute;
    top: 0;
    width: 100%;
    color: #F9F5FF;
}

.navbar h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 135px;
}

.RoGroup {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgba(240, 248, 255, 0.815);
    width: 115px;
    position: absolute;
    top: 0px;
    left: 120px;;
}


.Pinguin {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgba(240, 248, 255, 0.815);
    width: 115px;
    position: absolute;
    top: 0px;
    left: 240px;;
}

.Past {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgba(240, 248, 255, 0.815);
    width: 115px;
    position: absolute;
    top: 0px;
    left: 360px;;
}

.navbar h1:hover {
    color: rgb(107, 107, 107);
    cursor: pointer;
}

.RoGroup:hover {
    color: rgb(103, 136, 207);
    cursor: pointer;
}

.Pinguin:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.Past:hover {
    color: rgb(24, 171, 207);
    cursor: pointer;
}

.Vid1 {
    width: 850px;
    position: relative;
    top: 145px;
    box-shadow: 0 12px 16px 0 rgb(75, 3, 170), 0 17px 50px 0 rgb(0, 0, 0);
}

.Art1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
    color: rgba(240, 248, 255, 0.815);
    width: 815px;
    position: relative;
    left: 950px;
    bottom: 250px;
}

.Code1 {
    width: 850px;
    bottom: 100px;
    left: 850px;
    position: relative;
    box-shadow: 0 12px 16px 0 rgb(75, 3, 170), 0 17px 50px 0 rgb(0, 0, 0);
}

.Code2 {
    width: 850px;
    right: 750px;
    bottom: 65px;
    position: relative;
    box-shadow: 0 12px 16px 0 rgb(75, 3, 170), 0 17px 50px 0 rgb(0, 0, 0);
}

.Desc1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: rgba(240, 248, 255, 0.815);
    position: relative;
    left: 155px;
}