body {
    background-image: url("../src/BACKGROUND.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navbar {
    background-color: #191227;
    position: absolute;
    top: 0;
    width: 100%;
    color: #F9F5FF;
}

.navbar h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 135px;
}

.RoGroup {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgba(240, 248, 255, 0.815);
    width: 115px;
    position: absolute;
    top: 0px;
    left: 120px;;
}


.Pinguin {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgba(240, 248, 255, 0.815);
    width: 115px;
    position: absolute;
    top: 0px;
    left: 240px;;
}

.navbar h1:hover {
    color: rgb(107, 107, 107);
    cursor: pointer;
}

.RoGroup:hover {
    color: rgb(103, 136, 207);
    cursor: pointer;
}

.Pinguin:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.Past {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgba(240, 248, 255, 0.815);
    width: 115px;
    position: absolute;
    top: 0px;
    left: 360px;;
}

.Past:hover {
    color: rgb(24, 171, 207);
    cursor: pointer;
}


.Sect1 article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgba(240, 248, 255, 0.815);
    width: 1115px;
    position: relative;
    bottom: 135px;
    left: 280px;;
    border-style: solid;
    border-width: 5px;
}

.Sect1 img {
    width: 225px;
    position: relative;
    top: 75px;
}

.Sect2 article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgba(240, 248, 255, 0.815);
    width: 1115px;
    position: relative;
    bottom: 325px;
    left: 480px;;
    border-style: solid;
    border-width: 5px;
}

.Sect2 img {
    width: 455px;
    position: relative;
    bottom: 95px;
}

.Sect3 article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgba(240, 248, 255, 0.815);
    width: 1115px;
    position: relative;
    bottom: 595px;
    left: 480px;;
    border-style: solid;
    border-width: 5px;
}

.Sect3 img {
    width: 355px;
    position: relative;
    bottom: 255px;
}

.Sect4 article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgba(240, 248, 255, 0.815);
    width: 1115px;
    position: relative;
    bottom: 895px;
    left: 480px;;
    border-style: solid;
    border-width: 5px;
}

.Sect4 img {
    width: 355px;
    position: relative;
    bottom: 485px;
}

.Sect5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 95px;
    color: rgba(240, 248, 255, 0.815);
    width: 1515px;
    position: relative;
    bottom: 500px;
    left: 15%;;
}