body {
    background-image: url("src/BACKGROUND.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navbar {
    background-color: #191227;
    position: absolute;
    top: 0;
    width: 100%;
    color: #F9F5FF;
}

.navbar h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 135px;
}

.navbar h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgba(240, 248, 255, 0.815);
    width: 85px;
    position: absolute;
    top: 0px;
    left: 120px;;
}


.navbar h1:hover {
    color: rgb(107, 107, 107);
    cursor: pointer;
}

.navbar h2:hover {
    color: rgb(103, 136, 207);
    cursor: pointer;
}

.main video {
    width: 45%;
    position: relative;
    left: 25px;
    top: 75px;
}

.item1 {
    position: relative;
    left: 50%;
    bottom: 250px;
    color: #F9F5FF;
    font-size: 35px;
    width:750px;
    word-wrap: break-word;
}

.item2 {
    position: relative;
    left: 5%;
    top: 95px;
    color: #F9F5FF;
    font-size: 35px;
    width:750px;
    word-wrap: break-word;
}

.Video2 {
    width: 95%;
    position: relative;
    left: 55%;
    bottom: 225px;
}

.Info1 {
    position: relative;
    left: 22%;
    top: 125%;
    color: #ffffff;
    font-size: 25px;
    width:1000px;
    word-wrap: break-word;
}